App/build
App/Pods
App/output
App/App/public
DerivedData
xcuserdata

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

# Generated Config files
App/App/capacitor.config.json
App/App/config.xml

# The local signing identity (see signing.xcconfig.example)
signing.xcconfig

# The version, written by tools/stamp-version.mjs
version.xcconfig
